.breads {
  position: relative;
  width: 100%;
  border-top: 1px solid #eee;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  z-index: 98;
  .breadcrumbs {
    width: 1020px;
    padding: 17px 0 16px;
    margin: 0 auto;
    font-size: 14px;
    a {
      float: left;
    }
    i {
      float: left;
      margin: 0 8px;
    }
    .current {
      font-weight: 600;
    }
  }
}
