%footer.single-footer
  %nav
    %ul.clearfix
      %li
        = link_to "プライバシーポリシー", root_path
      %li
        = link_to "メルカリ利用規約", root_path
      %li
        = link_to "特定商取引に関する表記", root_path
  = link_to image_tag("logo-gray.svg", alt: "mercari", width: "80", height: "65"), root_path, class: "single-footer-logo"
  %p
    %small
      ©︎ 2019 mercari
