= render partial: "items/header"
/ .breads
/   - breadcrumb :mypage
/   = breadcrumbs separator: "#{content_tag(:i, '', class: 'fa fa-angle-right')}"
.default-container
  %main.large-container.clearfix
    .large-content
      =render partial: "large-content"
    =render partial: "mypage-left-side"
= render partial: "items/footer"

