= render partial: "items/header"
.default-container
  .breads
    - breadcrumb :card_info
    = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fa fa-caret-right')}"
  %main.large-container.clearfix
    .large-content
      =render partial: "input-information"
    =render partial: "users/mypage-left-side"
= render partial: "items/footer"