.default-container_search{
  height: 2500px;
  width: 100vw;
  margin: 60px;
}
.large-content{
  height: 630px;
  width: 900px;
  float: right;
  &__search-result{
    height: 30px;
    &__head{
      font-size: 22px;
      font-weight: 600;
      margin: 0 0 8px;
    }
    &__number{
      margin: 16px 0;
      font-size: 12px;
      color: #888;
    }
    &__item{
      height: 3480px;
    }
  }
}

.search_item-box{
  width: 160px;
  height: 270px;
  background-color: white;
  text-align: left;
  margin: 0 20px 20px 0;
  display: inline-block;
  position: relative;
  .search_image {
    width:160px;
    height:160px;
    object-fit: cover;
  }
  .search_text{
    padding: 15px;
    height: 85px;
    margin: 0;
    display: block;
    .search_name{
      font-size: 16px;
      font-weight: 400;
      padding: 3px;
    }
    .search_box{
      display: flex;
      padding: 10px 3px;
    }
  }
}
.search_sold-out-box {
  width: 0;
  height: 0;
  border-top: 50px solid red;
  border-right: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid red;
  position: absolute;
  top: 0px;
  z-index: 3;
    .search_sold-out-text {
      z-index: 4;
      font-size: 25px;
      color: white;
      transform:rotate(-45deg);
      transform:translate(-45px,-45px);
    }
  }

.left-side{
  width: 280px;
  height: 1500px;
  float: left;
  padding: 10px;
  background-color: white;
  .left-side_title{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .left-side_search{
    height: 1260px;
  }
  .left-side__box{
    width: 248px;
    height: 115px;
    padding: 10px;
    label{
      font-weight: bold;
      margin: 8px;
    }
    #q_first_category_id_eq, #q_second_category_id_eq, #q_third_category_id_eq{
      z-index: 2;
      height: 28px;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 14px;
      line-height: 1.5;
      cursor: pointer;
      margin-top: 5px;
    }
    #q_name_cont{
      width: 250px;
      height: 50px;
    }select{
      width: 250px;
      height: 50px;
    }
  }
}

.left-side__box-price{
  width: 248px;
  height: 150px;
  padding: 10px;
  label{
    font-weight: bold;
    margin: 8px;
  }
  #q_price_gteq, #q_price_lteq{
    width: 250px;
    height: 50px;
  }
}
.left-side__box-correct{
  width: 248px;
  height: 240px;
  padding: 30px 20px;
  label{
    font-weight: bold;
    margin: 8px;
  }
  .left-side__box-correction{
    height: 200px;
    .correction-list{
      width: 250px;
      height: 25px;
      padding: 5px;
      font-size: 16px;
    }
  }
}
.left-side__box-correct2{
  width: 248px;
  height: 120px;
  padding: 20px;
  label{
    font-weight: bold;
    margin: 8px;
  }
  .left-side__box-correction2{
    height: 100px;
    .correction-list{
      width: 250px;
      height: 25px;
      padding: 5px;
      font-size: 16px;
    }
  }
}
.left-side__box-submit{
  width: 248px;
  height: 75px;
  padding:10px;
  display: flex;
  .reset_button{
    width: 120px;
    line-height: 50px;
    height: 50px;
    background-color: gray;
    color: white;
    margin: 5px;
    text-align: center;
  }
  .search_submit{
    width: 120px;
    height: 50px;
    background-color: red;
    color: white;
    margin: 5px;
  }
}
#q_brand_id_eq,#q_size_id_eq{
  background-color: white;
  border: 1px solid #ccc;
}