$bordercolor: #eee;
$lightblue: #0099e8;
$formborder: #ccc;
$white: #fff;
$red: #ea352d;
$filefield: #f5f5f5;
body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
}
main {
  display: block;
}
.container {
  width: 700px;
  margin: 0 auto;
  background: $white;
}
.sell {
  &__container__inner h2 {
    font-weight: bold;
  }
  &__head {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }
  &__form {
    border-top: 1px solid $bordercolor;
  }
}

.sell--upload {
  &__box {
    width: 620px;
    padding: 40px;
    border-top: 1px solid $bordercolor;
  }
  &__box h3 {
    font-weight: bold;
  }
  &__head {
    font-size: 16px;
  }
  &__box p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__items {
    float: left;
    display: block;
  }
  &__items ul {
    display: block;
    width: 100%;
  }
  &__drop__box {
    width: 150px;
    margin: 0;
    height: 190px;
    flex: 1;
    position: relative;
    text-align: center;
    cursor: pointer;
    &__imageview{
      float: left;
      background: $filefield;
      border: 1px dashed $formborder;
      height: 190px;
      width: 145px;
      .uploadimg{
        padding-top: 25px;
        height: 100px;
        width: 145px;
      }
      .img_del{
        color: $lightblue;
        font-weight: 400;
        cursor: pointer;
        font-size:14px;
        text-align: center;
        position:relative;
        top:30px;
        &:hover{
          opacity: 0.5 ;
        }
      }
    }
    img{
      height:161px;
      width:150px;
      position: relative;
      z-index: 2
    }
  }
  &__drop__box pre {
    position: absolute;
    top: 20%;
    left: 16px;
    right: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    transform: translate(0, -50%);
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
  }
}
.sell__dropbox__container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
}
.sell__content {
  padding: 40px;
  border-top: 1px solid $bordercolor;
}

.form__group {
  margin: 40px 0 0;
  &:first-child {
    margin: 0;
  }
  & label {
    font-weight: 600;
    margin: 8px 0 0;
  }
  & select {
    width: 100%;
  }
  & .select--wrap {
    height: 38px;
    margin: 5px 0 5px 0;
    padding: 10px 0 0 10px;
    border-radius: 4px;
    border: 1px solid $formborder;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
      select {
        border: none;
        background-color: white;
        width:100%;
        height:30px;
    }
  }
  & .input__default {
    width: 100%;
    margin: 8px 0 0;
  }
}

#item_first_category_id,#item_second_category_id,#item_third_category_id{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid $formborder;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 5px;
}


.input__default {
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $formborder;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
}
label {
  display: inline-block;
    margin: 8px 0 0 5px;

}
.textarea__default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid $formborder;
  background: $white;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
}
.sell--sub__head {
  float: left;
  color: #888;
  font-size: 14px;
}
.sell__form__box {
  width: 400px;
  margin-left: auto;
}

.select--wrap {
  position: relative;
  background: $white;
}
.select__default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid $formborder;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 5px;
}

.sell_price {
  & li:first-child {
    padding: 0 0 24px;
    border: 0;
  }
  & li {
    padding: 24px 0;
    border-top: 1px solid $formborder;
  }
  & .form__group .l-left {
    width: 50%;
    line-height: 48px;
  }
  & .bold .l-right {
    font-size: 34px;
  }
  & .form__group .l-right {
    width: 50%;
  }
  .sell__price--input div {
    display: inline-block;
    width: 80%;
    margin: 0 0 0 5%;
  }
  .sell__price--input .input__default {
    margin: 0;
    text-align: right;
  }
}

.sell__btn__box p {
  line-height: 1.5;
  display:inline;
  word-wrap: break-word;
}
.sell__content p a {
  color: $lightblue;
  text-decoration: none;
  display:inline;
  word-wrap: break-word;
}
.sell__price--input div {
  display: inline-block;
  width: 80%;
  margin: 0 0 0 5%;
}
.sell__price--input .input__default {
  margin: 0;
  text-align: right;
}

.sell__btn__box {
  & .btn--red {
    margin: 40px 0 0;
  }
  & .btn--gray {
    width: 45%;
    margin: 24px auto 0;
  }
}

.l-right {
  float: right;
}

.bold {
  font-weight: 600;
}

.btn--red {
  background: $red;
  border: 1px solid $red;
  color: $white;
}
.btn--gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.btn__default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.form--require {
  background: $red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}
.form__question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $lightblue;
  color: $white;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}

