.default-container{
  position:relative;
  background-color: $backgroundColor;
  @include clearfix();

  .item-container {
    background-color: white;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    height: 100%;
    width: 670px;
    margin: 40px auto 0;
    padding: 24px 15px 40px 15px;

    h1 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }

    &__image {
      position: relative;
      float: left;
      width: 300px;
      height: 300px;
      min-width: 300px;
      max-width: 300px;
      // min-height: 350px;
      margin:0 0 30px 20px;

      img {
        float: left;
        width: 300px;
        height: 300px;
        max-height: 300px;

      }

      .sold-out-box {
        width: 0;
        height: 0;
        border-top: 50px solid red;
        border-right: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid red;
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        z-index: 1;

        .sold-out-text {
          z-index: 2;
          font-size: 25px;
          color: white;
          transform:rotate(-45deg);
          transform:translate(-45px,-45px);
        }
      }

       ul.image-slide {
        display: inline;
        width: 75px;
        height: 75px;
        padding: 0;

        li {
          list-style-type: none;

          img.slide-box {
            margin-top:5px;
            width: 75px;
            height: 75px;
            opacity: 0.5;
          }
        }
      }
    }

    &__detail {

      float: right;
      margin: 0 20px 30px 0;
      min-height: 375px;
      border-top: solid 1px #EEEEEE;
      border-left: solid 1px #EEEEEE;
      border-right: solid 1px #EEEEEE;

      tr {
        text-align: left;
      }

      th {
        width: 100px;
        padding-left: 5px;
        font-weight: normal;
        background-color: #EEEEEE;
        border-bottom: solid 1px #EEEEEE;
      }

      td {
        width: 200px;
        padding-left: 5px;
        border-bottom: solid 1px #EEEEEE;
      }

      p {
        font-size: 20px;
      }

      a {
        text-decoration: none;
      }
    }

    &__price {

      clear: both;
      text-align: center;
    }

    span {
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }

    .item-price {
      font-size: 50px;
    }

    .item-taxIn {
      font-size: 10px;
    }

    .item-tax-include {
      font-size: 16px;
    }

    #payjp_checkout_box {
      margin-top: 30px;

      input[type="button"] {
        height: 60px;
        width: 600px;
        font-size: 20px;
      }
    }

    .order-status {
      margin: 30px auto;
      font-size: 20px;
      background-color: gray;
      height: 50px;
      line-height: 50px;
      color: white;
    }

    &__discription {
      width: 600px;
      margin: 50px auto 50px;
      font-size: 18px;
      word-break: break-all;

    }
  }

  .comment {
    background-color: white;
    width: 700px;
    height: 280px;
    margin: 10px auto;
    padding-top:20px;

    &__box {
      width: 660px;
      height: 280px;
      margin: 0 auto;

      p {
        display: inline-block;
        padding: 8px;
        background-color: #FFFACD ;
      }
      .form {
        background-color: white;
        border: solid 1px gray;
        border-radius: 5px;
        margin-top: 5px;
        width: 660px;
        height: 100px;
      }

      .send {
        background-color: #A9A9A9;
        color: white;
        margin-top: 5px;
        font-size: 20px;
        margin:10px auto;
        text-align: center;
        line-height: 80px;
        width: 660px;
        height: 80px;
      }
    }
  }


  .sns-media {
    background-color: white;
    margin: 10px auto;
    padding: 32px 0 ;
    width: 700px;
    text-align: center;
    font-size: 50px;

    &__box {
      background-color: gray;
      width: auto;
      height: 50px;
      font-size: 0;
    }
  }



  .other-item-box{
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    height: 800px;
    width: 700px;
    margin: 20px auto 0;
    padding: 24px 0 40px 0;

    h2{

      a{
        font-size: 20px;
        text-decoration: none;
        color: #0099e8;
      }
    }

    .other-item-contents{
      height: auto;
      width:auto;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: 10px;

      &__box {
        background-color: white;
        width: 220px;
        height: 330px;
        float: left;
        margin:0 0 20px 10px;

        a {
          text-decoration: none;
          color: black;

          .photo {
            background-color: white;
            width: 220px;
            height: 220px;

            img {
              width: 220px;
              height: 220px;
            }
          }

          .text {
            width: 220px;
            height: 110px;

            h3 {
              font-size: 16px;
              text-align: center;
              padding-bottom: 20px;
              margin-top: 5px;
            }

            .price-box {
              padding: 20px;

              .price {
                font-size: 16px;
                font-weight: bold;
                float: left;
              }

              i {
                float: right;
                margin-right: 5px;
              }
              span {
                font-size: 16px;
                float: right;
                position:relative;
                left: 36px;
                color: black;
              }

              p {
                font-size: 8px;
                font-weight: lighter;
                clear: both;

              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height:300px;
    background-color: white;
  }
}
