.single-container {
  padding: 0 0 220px;
  main {
    display: block;
    .l-single-container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      .l-single-head {
        line-height: 1.5;
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
      }
      .l-single-inner {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        .l-single-content {
          max-width: 320px;
          margin: 0 auto;
          .btn-mail {
            position: relative;
            background: #eee;
            color: #000;
            .icon-mail {
              position: absolute;
              top: 50%;
              left: 16px;
              transform: translate(0, -50%);
              color: #ccc;
              font-size: 20.5px;
            }
          }
          .btn-default {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out.3s;
            cursor: pointer;
            text-align: center;
          }
          .btn-sns {
            position: relative;
            i {
              position: absolute;
              top: 50%;
              left: 16px;
              transform: translate(0, -50%);
            }
            &-facebook {
              margin: 16px 0 0;
              background: #385185;
              color: #fff;
            }
            .icon-facebook {
              color: #fff;
              background: #385185;
              font-size: 20.5px;
            }
            &-google {
              margin: 16px 0 0;
              background: #dc4e41;
              color: #fff;
            }
            .icon-google-plus {
              color: #fff;
              background: #dc4e41;
              font-size: 18.5px;
            }
          }
        }
      }
    }
  }
}
