.sign-up-main{
  width:700px;
  margin: 0 auto;


  .form-require{
    text-align: center;
    font-size:12px;
    line-height: 19px;
    height:19px;
    width:32px;
    background-color:#ea342d;
    color:white;
    font-weight: 400;
    display:inline-block;
    margin-bottom: 1px;
    border-radius: 3px;
  }

  .form--prefecture{
    width: 322px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding:10px 0 8px 0;
    font-size: 16px;
    color: black;
  }
    select{
      border: none;
      background-color: white;
      width:100%;
      height:30px;
      color: black;
    }
    input[type="text"] {
      width: 304px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding:10px 0 8px 16px;
      font-size: 16px;
      font-weight: 400;
    }
    input[type="password"] {
      width: 304px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding:10px 0 8px 16px;
      font-size: 16px;
    }
    input[type="email"] {
      width: 304px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding:10px 0 8px 16px;
      font-size: 16px;
    }
    input[type="number"] {
      width: 304px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding:10px 0 8px 16px;
      font-size: 16px;
    }

    ul.birth--field{
      width:900px;
      list-style: none;

      li.birth--list{
        width:160px;
        height:50px;
        float:left;
        position: relative;
        margin-right: 3px;

      }
      .birth{
        position: absolute;
        right:0;
        bottom:25%;
      }
    }

  &__info{
    height:97px;
    text-align: center;
    line-height: 97px;
    font-size: 22px;
    font-weight: 700;
    border-bottom: solid;
    border-color:#f5f5f5;
    background-color: white;
    border-width:1px;
  }
  &__form{
    height:2600px;
    background-color: white;
    padding:64px 0 50px 0;
    margin-bottom: 1px;

    &__field--top{
      height:70px;
      width:320px;
      margin:0 auto;
      text-align: left;
      font-weight: 600;
      font-size:14px;
    }
    &__field{
      height:70px;
      width:320px;
      margin:0 auto;
      text-align: left;
      margin-top: 40px;
      font-weight: 600;
      font-size:14px;
      label#expart.expart_label{
        font-size: 20px;
        font-weight: normal;
      }
    }
    &__field--name{
      height:70px;
      width:320px;
      margin:0 auto;
      text-align: left;
      margin-top: 100px;
      font-weight: 600;
      font-size:14px;
    }
    &__field--birth{
      width:320px;
      height:70px;
      text-align: left;
      padding-top: 40px;
      font-weight: 600;
      font-size:14px;
      margin: 0 auto;
    }
    .g-recaptcha{
      margin: 160px 205px 40px 190px;
    }
    #error_explanation{
      text-align: center;
      color:red;
      font-weight: 600;
      border-radius: 5px;
      border: 2px solid red;
      margin:0 100px 100px 100px;
      padding:10px 25px 10px 25px;
      background-color: #FFEDEB;
      h2{
        font-weight: 600;
        font-size:18px;
        margin-bottom: 8px;
        }
      li{
        text-align: left;
      }
    }
  }
}



.recaptcha{
  height:75px;
  width:300px;
  margin: 50px auto 50px;
}

.submit-btn{
  margin:0 auto;
  margin-top:40px;
  width:320px;
  height:50px;
}
.next-btn{
  width:320px;
  height:50px;
  background-color:#ea342d;
  text-align: center;
  line-height:50px;
  font-size:14px;
  color: white;
}



ul.right_btn--signed-out{
  height:32px;
  width:195px;
  text-align: center;
  line-height: 32px;
  float:right;
  
  li.right_btn--signup{
    height:32px;
    width:106px;
    background-color:#ea342d;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;

    .top-signup-btn{
    color:white;
    font-size: 14px;
    text-decoration: none;
    }
  }
  li.right_btn--login{
    height:31px;
    width:78px;
    border:solid;
    border-width:1px;
    border-color:#009ae7;
    border-radius: 5px;
    display: inline-block;
    float:right;

    .top-login-btn{
    font-size: 14px;
    color:#009ae7;
    border-radius: 5px;
    text-decoration: none;
    }
  }
}

.sign-up-sub__info{
  height: 30px;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  border-color: #f5f5f5;
  background-color: white;
  border-width: 1px;
}
p.sign-up-sub__info{
  font-size: 13px;
}

input[type="checkbox"]{
   transform: scale(1.2);
   margin: 16px 5px
}
#user_first_category_id,#user_second_category_id,#user_third_category_id{
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 3px;
}
#user_birth_year,#user_birth_month,#user_birth_day{
  height:52px;
  width:138px;
  border-radius: 5px;
  border: 1px solid #ccc;
}