.mypage-tab-container-2{
  margin: 0;
  .mypage-tab-head {
    background-color: #f5f5f5;
    opacity: 0.8;
  }
  .mypage-tabs{
    border: 0;
    background-color: #eee;
    height: 74px;
    .mypage-tab{
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 33%;
      float: left;
      border-width: 0;
      height: 100%;
      &.active{
        background-color: white;
        p{
          border-top: 2px solid #ea352d;
          border-bottom: none;
        }
      }
      p{
        text-decoration: none;
      }
      h3{
        font-size: 22px;
      }
    }
    p{
      position:relative;
      display: block;
      color: black;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
  }
  .tab-content.tab-pane.active{
    clear: both;
    display: block;
  }
  .mypage-item-list{
    border: 0;
    position: relative;
    background-color: white;
    .mypage-item-not-found{
      padding: 160px 0 60px;
      background-image: url(mypage_images/mercari-box-gray-icon.svg);
      background-position: center 40px;
      background-size: 78px 85px;
      background-repeat: no-repeat;
      text-align: center;
      color: #ccc;
      &.not-active{
        display: none;
      }
    }
    li {
      border-bottom: solid #f5f5f5 1px;
      .mypage-item-link {
        display: block;
        min-height: 50px;
        padding: 16px;
        color: #333;
        .figure {
          position: relative;
          overflow: hidden;
          float: left;
          width: 48px;
          height: 48px;
          img {
            width: 48px;
            height: 48px;
          }
        }
        .mypage-item-body {
          float:left;
          margin: 0 100px 0 68px;
          .mypage-item-text {
            overflow: hidden;
            display: block;
            line-height: 1.5;
            height: 20px;
          }
          .mypage-item-info {
            height: 30px;
            i {
              float: left;
              margin: 0 6px 0 0;
              line-height: 40px;
              font-size: 15px;
              opacity: 0.3;
            }
            .listing-item-count {
              vertical-align: 2px;
              margin: 0 6px 0 0;
              float: left;
              line-height: 40px;
            }
            .mypage-item-status_blue {
              background: #0099e8;
              display: inline-block;
              margin: 8px 0 0 0;
              padding: 5px 6px;
              border-radius: 2px;
              font-size: 12px;
              color: #fff;
            }
            .mypage-item-status_red {
              background:red;
              display: inline-block;
              margin: 8px 0 0 0;
              padding: 5px 6px;
              border-radius: 2px;
              font-size: 12px;
              color: #fff;
            }
          }
        }
        i {
          float: right;
          line-height: 50px;
          font-size: 24px;
        }
      }
      &:hover {
        background-color: #f5f5f5;
        opacity:0.6;
      }
      .not-found-bold{
        font-weight: 600;
      }
    }
  }
}
