.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
  .clearfix {
    @include clearfix();
  }
  li {
    font-size: 12px;
    display: inline-block;
    margin: 0 0 0 16px;
    &:first-child {
      margin: 0;
    }
  }
  a {
    display: block;
    color: #333;
  }
  .single-footer-logo {
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
  p {
    margin: 8px 0 0;
  }
  small {
    font-size: 12px;
  }
}
