.single-main{
 width: 100vw;
 height: 1080px;
  .l-single{
    width: 700px;
    height: 1080px;
    margin: 0 auto;
    background-color: #fff;
    &__head{
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
  }
}
.buy-item{
  width: 700px;
  height: 600px;
  &__inner{
    width: 320px;
    height: 580px;
    margin: 0 auto;
    text-align: center;
    #main-box{
      width: 148px;
    }
    &__name{
      margin: 8px 0 0;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 600;
    }
    &__price{
      font-size: 28px;
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .item-tax-include{
      font-size: 14px;
      font-weight: 400;
    }
    .buy-accordion.not-have,input{
      background: #87ceeb;
      margin: 16px 0 0;
      width: 320px;
      height: 48px;
      .accordion-parent{
        padding: 16px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    }
    .buy-accordion.not-have1{
      background: #ccc;
      margin: 16px 0 0;
      width: 320px;
      height: 48px;
      .accordion-parent1{
        padding: 16px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    }
  }
}
.buy-price-table{
  margin: 16px 0 0;
  width: 320px;
  height: 48px;
  font-size: 28px;
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-weight: 600;
  .buy-price-cell{
    text-align: left;
    display: table-cell;
    padding: 16px 0;
  }
}
.has-error-text{
  margin: 8px 0 0;
  line-height: 1.5;
  color: #0099e8;
  font-size: 14px;
}
p{
  margin: 8px 0 0;
  line-height: 1.5;
}
.icon{
  margin: 8px 0 0;
  display: flex;
  justify-content: center;
}
.buy-content.buy-user-info{
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
  .buy-content-inner{
    max-width: 320px;
    height: 100px;
    margin: 0 auto;
  }
}
.buy-user-info-text{
  width: 320px;
  height: 57px;
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}
.buy-user-info-fix{
  display: block;
  text-align: right;
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  .icon-arrow-right{
    display: inline-block;
    font-family: 'icon-font';
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}