.list-container
  .full-width
    %ul.parts-nav.clearfix
    %section.items-box-container.clearfix
      %h1.items-box-head
        #{@second_category.second_category}の商品一覧
      .items-box-content.clearfix
        - @items.where(second_category_id: @second_category.id).each do |item|
          = render partial: 'categorys/item-box', locals: {item:item}
        %end
    .pager
      = paginate @items
    .under-decoration
      .text-red
        #{@second_category.second_category}
      .text-white
        %p
          メルカリなら豊富な商品の中から欲しかった商品が見つかるかも！？